In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [7]:
import pandas as pd

arquivo = "pda-repasses-mais-educacao-adesao-2016.csv"
df = pd.read_csv(arquivo, sep=';', encoding= 'latin1', nrows=1000)
df.head()

,ANO_REFERENCIA,UF_ESCOLA,MUNICIPIO_ESCOLA,ESFERA_GOVERNO,LOCALIZACAO_ESCOLA,INEP_ESCOLA,NOME_ESCOLA,ALUNADO,TOTAL_RECEBIDO_ADESAO,Unnamed: 9
0,2016,AC,ACRELANDIA,Estadual,Rural,12018422,ESC SANTA LUCIA III,60,"R$ 6.060,00",NaN
1,2016,AC,BRASILEIA,Estadual,Urbana,12016250,ESC CEL MANOEL FONTENELE DE CASTRO,40,"R$ 2.760,00",NaN
2,2016,AC,BRASILEIA,Estadual,Urbana,12016438,ESC GETULIO VARGAS,80,"R$ 5.520,00",NaN
3,2016,AC,BRASILEIA,Estadual,Urbana,12017027,ESC INSTITUTO ODILON PRATAGI,40,"R$ 2.760,00",NaN
4,2016,AC,BRASILEIA,Estadual,Rural,12026948,ESC VALERIA BISPO SABALA,40,"R$ 4.040,00",NaN

In [8]:
def calcular_media(df, ALUNADO):
    media = df [ALUNADO].mean()
    print("a media de ALUNADO e: " +str(media))

calcular_media(df, "ALUNADO")

a media de ALUNADO e: 106.185

In [13]:
valor_min = 600
contador = 1

for index, row in df.iterrows():
    if row['ALUNADO'] > valor_min:
        contador += 2
print(f"A quantidade de alunos acima de", valor_min, "foram", contador)

A quantidade de alunos acima de 600 foram 19

In [14]:
from functools import reduce
df['ALUNADO'] = pd.to_numeric(df['ALUNADO'], errors="coerce")

media_notas = reduce(lambda x, y: x +y, df['ALUNADO']) / len(df['ALUNADO'])
print("a media da quantidade de aluno foi:", round(media_notas, 2))

a media da quantidade de aluno foi: 106.19